#root {
  background: url(./images/haptik-logo.png) no-repeat;
  background-position: 10% 10%;
  
}

.container {
  border: 2px gray solid;
  padding: 0;

}

input {
  padding: 5px;
}

i {
  padding: 10px;
  border: 1px solid gray;
}
.name {
  margin-bottom: 5px;
}
.icon {
  margin: 10px;
}

.app-header {
  background: rgb(194, 194, 194);
  padding: 10px;
  border: 1px solid purple;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gainsboro;
  padding: 5px 15px;
  margin: 0 !important;
}

.friend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-container {
  position: absolute;
    left: 50%;
    top: 50%;
    /* bottom: 2.5rem; */
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,97,0.5);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    transform: translate(-50%, -50%);
    padding: 50px;
}

.modal-overlay {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.75);
}


.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-button  {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.pagination {
  justify-content: center;
  align-items: center;
}

.page-link {
  color: black;
}

.page-item.active .page-link{
  background-color: gray;
  border: 2px solid gray;
  
}

.favourite i.fa.fa-star-o {
  color: red;
}