#root {
  background: url(./images/haptik-logo.png) no-repeat;
  background-position: 10% 10%;
  
}

.container {
  border: 2px gray solid;
  padding: 0;

}

input {
  padding: 5px;
}

i {
  padding: 10px;
  border: 1px solid gray;
}
.name {
  margin-bottom: 5px;
}
.icon {
  margin: 10px;
}

.app-header {
  background: rgb(194, 194, 194);
  padding: 10px;
  border: 1px solid purple;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gainsboro;
  padding: 5px 15px;
  margin: 0 !important;
}

.friend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  justify-content: center;
  align-items: center;
}

.page-link {
  color: black;
}

.page-item.active .page-link{
  background-color: gray;
  border: 2px solid gray;
  
}

.favourite i.fa.fa-star-o {
  color: red;
}